.tree-viewer-container {
  background: #969696;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .btree-level {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
}